<!DOCTYPE html>
{% load i18n %}
{% load static %}

<title>Hangman</title>
<link rel="stylesheet" href="{% static "HangMan/testcss.css" %}">



<div class="game-container">

    <div class="game-section">
      <div class="game-name">
        <div>
          <h1> HangMan </h1>  
        </div>
      </div>
    </div>

    <div class="game-section" >
        <!-- Hangman image -->
          <div class="hangman-image">
            <img src="{% static "HangMan/hangmanTestImage.jpeg" %}" alt="Hangman">
          </div>

          <div class="status-container"> 

            <div class="text-container">
                <div>
                  <p>Incorrect Guesses: <span id="incorrect-count">{{ request.session.guessNum }}</span></p>
                </div>
              </div>
            
              <div class="text-container">
                <div>
                  <p>Correct Guesses: <span id="correct-count">{{ request.session.correct }}</span></p>
                </div>
              </div>
            
              <div class="text-container">
                <div>
                  <p>Game Status: {{ request.session.status }}</p>
                </div>
              </div>

          </div>
    </div>
  
    
  
    <div class="game-section">
      <div class="puzzle-letters">
        {% for x in request.session.answer %}
          {% if x in request.session.guessed %}
            <span class="puzzle-letter">{{ x }}</span>
          {% else %}
            <span class="puzzle-letter">&nbsp__&nbsp</span>
          {% endif %}  
        {% endfor %}
      </div>
    </div>
  
    
  
    <div class="game-section"  id="letter-buttons">
        <form action="" method="post">
      
        {% for letter in request.session.alph %}
      
            {% if letter not in request.session.guessed %}
      
                <button  class="letter-button" type="submit" name="letter" value="{{ letter }}">
                {{ letter }}
                </button>
      
            {% else %}
      
                <button  class="letter-button" type="submit" name="letter" value="{{ letter }}" disabled>
                {{ letter }}  
                </button>
          
            {% endif %}
      
        {% endfor %}
      
        {% csrf_token %}
        
        </form>
      </div>
  
  </div>
    













































<!--     
        <div style="text-align: left; display: inline-flex;">
            <div>
                <form action="" id="home" method="get">
                    <button type="submit" name="home"> Home </button>
                </form>
            </div>
            <div>
                <h1> HangMan </h1>
            </div>
        </div>

        <div>
            <a> Incorrect Guesses = {{ request.session.guessNum }} </a>
        </div>

        <div>
            <a> Correct Guesses = {{ request.session.correct }} </a>
        </div>

        <div>
            <a> Game Status = {{ request.session.status }} </a>
        </div>

        <div style="display: inline-flex">
            {% for x in request.session.answer %}
                {% if x in request.session.guessed %}
                    <h1> {{x}} </h1>
                {% else %}
                    <h1>&nbsp__&nbsp</h1>
                {% endif %}
            {% endfor %}
        </div>
        
        <div>
            <form action="" id="letters" method="post">
                {% for x in request.session.alph %}
                    {% if x not in request.session.guessed %}
                        <button class="btn btn-default" type="submit" name="letter" value={{x}} >{{x}}</button>
                    {% else %}
                        <button class="btn btn-default" type="submit" name="letter" value={{x}} disabled>{{x}}</button>
                    {% endif %}
                {% endfor %}
                {% csrf_token %}
            </form>
        </div> -->
